<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./phpunit.php"
>
    <testsuites>
        <testsuite name="Spotify Web API Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="SPOTIFY_CLIENT_ID" value="40eba578acc44b5cae8680ccd5542b4f" />
        <env name="SPOTIFY_CLIENT_SECRET" value="b37723a51a914fbca4c4c825ea8fb704" />
        <env name="SPOTIFY_REDIRECT_URI" value="http://localhost/spotify-web-api-php/demo.php" />
    </php>

</phpunit>
