name: build

on: [push, pull_request]

env:
  COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['8.5', '8.4', '8.3']

    steps:
    - uses: actions/checkout@v6

    - uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        coverage: pcov

    - run: composer install
    - run: composer test
    - run: php vendor/bin/php-coveralls -v
